<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>CloudSoft |{% block title %}Welcome!{% endblock %}</title>
        {% block css %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link rel="stylesheet" href="{{asset('../vendor/twbs/bootstrap/dist/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('../vendor/components/font-awesome/css/font-awesome.min.css')}}">
		<link rel="stylesheet" href="{{asset('public/css/main.css')}}">
		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="{{asset('../vendor/twbs/bootstrap/dist/js/bootstrap.min.js')}}"></script>
		<script>
			$(document).ready(function(e){
				var current = "{% block current_page %}home{% endblock %}";
				$('#menu li#' + current).addClass('active');
			});
		</script>
    </head>
    <body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">Brand</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav" id="menu">
				<li id="home"><a href="{{url('_welcome')}}home/eric"><i class="fa fa-home"></i> Inicio</a></li>
				<li id="about"><a href="{{url('_welcome')}}about/"><i class="fa fa-users"></i> Nosotros</a></li>
				<li id="contact"><a href="{{url('_welcome')}}contact/"><i class="fa fa-envelope"></i> Contacto</a></li>
				<li id="help"><a href="{{url('_welcome')}}help/"><i class="fa fa-info-circle"></i> Ayuda</a></li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					{% block body %}{% endblock %}
				</div>
			</div>
		</div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
